[submodule "hw-rankselect"]
	path = hw-rankselect
	url = git@github.com:haskell-works/hw-rankselect.git
[submodule "hw-bits"]
	path = hw-bits
	url = git@github.com:haskell-works/hw-bits.git
[submodule "hw-diagnostics"]
	path = hw-diagnostics
	url = git@github.com:haskell-works/hw-diagnostics.git
[submodule "hw-prim"]
	path = hw-prim
	url = git@github.com:haskell-works/hw-prim.git
[submodule "hw-succinct"]
	path = hw-succinct
	url = git@github.com:haskell-works/hw-succinct.git
[submodule "hw-buildopts"]
	path = hw-buildopts
	url = git@github.com:haskell-works/hw-buildopts.git
[submodule "hw-s3cache"]
	path = hw-s3cache
	url = git@github.com:haskell-works/hw-s3cache.git
[submodule "hw-conduit"]
	path = hw-conduit
	url = git@github.com:haskell-works/hw-conduit.git
[submodule "hw-files"]
	path = hw-files
	url = git@github.com:haskell-works/hw-files.git
[submodule "hw-parser"]
	path = hw-parser
	url = git@github.com:haskell-works/hw-parser.git
[submodule "hw-json"]
	path = hw-json
	url = git@github.com:haskell-works/hw-json.git
[submodule "hw-xml"]
	path = hw-xml
	url = git@github.com:haskell-works/hw-xml.git
